// Font Variables
$fa-font-path:   "../webfonts";

// Colors:
$color-grey: #929292;
$color-grey-dark: #313131;
$color-grey-light: #f1f1f1;
$color-white: #fff;
$color-black: #000;
$color-blue: #3ea1ef;
$color-yellow: #f5d70a;
$color-purple: #392957;
$color-pink: #fa96ef;
$color-teal: #3cefff;
$color-primary: #353536;
$color-secondary: #2e1d23;

// break point
$break: 768px;
